{% extends 'base.html.twig' %}

{% block title %}PiezasIphone{% endblock %}

{% block body %}
    <h1>PiezasIphone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piezas_iphone.id }}</td>
            </tr>
            <tr>
                <th>Pieza</th>
                <td>{{ piezas_iphone.pieza }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ piezas_iphone.precio }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ piezas_iphone.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_piezas_iphone_index') }}">back to list</a>

    <a href="{{ path('app_piezas_iphone_edit', {'id': piezas_iphone.id}) }}">edit</a>

    {{ include('piezas_iphone/_delete_form.html.twig') }}
{% endblock %}
